.valentine {
  &__title {
    font-size: 2.5rem;
    color: #2F3A1F;
    text-align: center;
    padding-top: 25%;
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
  }

  &__button {
    display: block;
    padding: 15px 30px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #303920;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #303920af;
    }
  }

  &__inactive {
    display: none;
  }

  &__active {
    margin-top: 50px;
    font-size: 1.2rem;
    color: #2F3A1F;
    text-align: center;
  }
}

.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  border-radius: 50px;
}

.success-title {
  font-size: 3rem;
  text-align: center;
  color: #2f3a1f;
}

.success-text {
  text-align: center;
  font-size: 1.5rem;
  color: #2f3a1f;
}
