.content-block {
  margin: auto;
  min-width: 800px;
  width: 80%;
  height: 70vh;
  min-height: 555px;

  background-color: #7C9353;
  border-bottom-left-radius: 230px;
  border-bottom-right-radius: 170px;
  border-top-right-radius: 280px;
  border-top-left-radius: 280px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
